<!DOCTYPE html> 
<html> 
<head> 
<title>about</title> 
</head> 
<body> 
<h4>NAAC (National Assessment And Accreditation Council)</h4> 
<p>Karpagam College of Engineering has been accredited by NAAC with ('A+') Grade. 
NBA (National Board Of Accreditation) 
Karpagam College of Engineering is accredited by NBA for the following departments</p> 
<ul type="circle"></ul> 
<li>Department of Information Technology</li> 
<li>Department of Mechanical Engineering</li> 
<li>Department of Electronics and Communication Engineering</li> 
<li>Department of Electrical and Electronics Engineering</li> 
</ul> 
</body> 
</html> 